<!-- Navigation Bar -->
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="../../index.html">StayHealthy Inc</a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="../index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="../appointments.html" class="nav-link">Appointments</a>
            </li>
            <li class="nav-item">
                <a href="#blog" class="nav-link">Health Blog</a>
            </li>
            <li class="nav-item">
                <a href="../reviews.html" class="nav-link">Reviews</a>
            </li>
            <li class="nav-item auth-item">
                <a href="../signup/signup.html" class="nav-link auth-link">Sign-up</a>
            </li>
            <li class="nav-item auth-item">
                <a href="../login/login.html" class="nav-link auth-link">Login</a>
            </li>
        </ul>
    </div>
</nav>
